body{
    background-color:#dee2e6;
    font-family: 'Open Sans",sans-serif;
    font-size: 1.3em;
    color:#fff;
}
.border-img{border-radius: 70%; border: 3px solid#fff;}
.hide{display: none;}
.mg-top-40{margin-top: 40px;}
.mg-top-20{margin-top: 20px;}
.mg-bt-20{margin-bottom: 20px;}


/* SUCCESS */
#vision h1{color:#000 !important; font-size: 1.7em;}
#vision .column{background:#2d353c; padding: 10px; }
#vision .c-md{margin:0px 10px 0px 10px;}
#vision .title{font-weight: 800;}

#vision .qty-chac{font-size: 4em; padding: 40px;}

.background-2d353c{background:#2d353c}
.font-weight-800{font-weight: 800;}
.img-preview{padding: 5px; border: 3px solid#fff;}